@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Martel+Sans:wght@300&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,500&family=Oswald:wght@200;300&family=Roboto+Condensed:wght@200&family=Roboto:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    display: flex;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#e32020e7, #222dab);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .glass{
    position: relative;
    width: 280px;
    height: 280px;
    border: 2px solid grey;
    background:linear-gradient(#fff2,transparent);
    box-shadow: 0px 25px 24px rgba(0, 0, 0, 0.271) ;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    
    border-radius: 1em;
    margin: 0px -120px;
    overflow: hidden;
    transform: rotate(calc(var(--r) * 1deg));
    cursor: pointer;
}

.container:hover .glass{
    transform: rotate(360deg);
    margin: 0 10px;
}

.container .glass::before{
    content: attr(data-text);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #fff2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}

.container .glass i{
    font-size: 8em;
    color: white;
    box-shadow: 2px 2px 5px wheat;
}